/* .hello_world{
    display: flex;
    flex-direction: row;
    gap: 20px;
} */
/* .newDiv{
    margin-top: 30px;
} */

/* #newH2{
    margin-top: -20px;
    font-weight: normal;
} */
/* .ul{
    display: flex;
    flex-direction: row;
}
.count{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.reverse{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.even{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.odd{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.series{
    display: flex;
    flex-direction: row;
    gap: 5px;
} */
/* .styl{
    border: 1px solid black;
} */

/* table{
    margin-left: 100px;
} */
/* .div{
    display: flex;
    flex-direction: row;
    gap: 3px;
} */
/* .div{
    width: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
/* .div{
    display: flex;
    flex-direction: row;
} */
